.Myphoto{
    background-color: red;
    margin-left: 300px;
    height: 300px;
    width: 300px;
}

.Level{
    margin-left: -70%;
}

.textAboutme{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}


.div-block-4 {
    position: absolute;
    z-index: 1000;
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-top: 6px;
    padding-top: 0;
    background-image: url(https://i.ibb.co/V37j9kh/60baff5fcc93ec0fda8a19ba-s-logo-copy-3.png);
    background-position: 0 0;
    background-size: contain;
    -webkit-transition: 175ms;
    transition: 175ms;
}

.headline{
    width: 50%;
    margin-left: 25%;
    font-size: 50px;
    font-family:'Overlock', sans-serif;
    color: #008b8b;
    border-bottom: 4px double ;
}

#myCarousel{
    height: 625px;
}

#aboutme{
    height: 680px;
}

.skillimage:hover{
    transform: scale(1.2);
}

#Myphoto:hover{
    transform: scale(1.1);
}
#contact{
    background-color: black;
    height: 705px;
}

.contactform input[type="text"]{
    margin-right: 1%;
    width: 49%;
    color: white;
    background: none;
    font-size: 1em;
    padding: 0.8em 1em;
    border: 1px solid #8c8c8c;
    display: inline-block;
}
.email{
    margin-left: 1%;
    width: 49%;
    color: white;
    background: none;
    font-size: 1em;
    padding: 0.8em 1em;
    border: 1px solid #8c8c8c;
    display: inline-block;

}

.phone{
    margin-top: 2%;
    width: 100%;
    color: white;
    background: none;
    font-size: 1em;
    padding: 0.8em 1em;
    border: 1px solid #8c8c8c;
    display: inline-block;
}

.message{
    margin-top: 2%;
    width: 100%;
    color: white;
    background: none;
    font-size: 1em;
    padding: 0.8em 1em;
    border: 1px solid #8c8c8c;
    display: inline-block;
    height: 10em;
}

.contactform input[type="submit"]{
    margin-top: 2%;
    width: 100%;
    color: white;
    background: #008b8b;
    font-size: 1em;
    padding: 0.8em 1em;
    border: 1px solid #008b8b;
    display: inline-block;
}

.contactform input[type="submit"]:hover{
    background: none;
}

#socialnetwork a :hover{
    transform: scale(1.2);
}

/* education */
#education{
    background-color: #1F1F1F;
}
.work-left{
    text-align: right;
    padding: 3em 5em 0 0;
}

.work-info h4 {
    font-size: 1.2em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: darkcyan;
    display: inline-block;
    padding: 0.6em 1.2em;
    color: #fff;
    position: relative;
}

.work-right {
   text-align: left;
   border-left: 1px solid #999;
   padding: 3em 0 2em 6em;
}

.work-info h5{
    font-size: 1.2em;
    color: #f7e612;
    border: 1px solid #f7e612;
    display: inline-block;
    padding: 0.6em 1.2em;
    
}

.work-right span.glyphicon {
    font-size: 1.2em;
    margin-left: -42px;
    margin-right: -10px;
    left: -67px;
    color: whitesmoke;
    padding: 1em;
    background: darkcyan;
    border-radius: 50%;
}

.work-right span.glyphicon:hover{
    transform: scale(1.2);
}

.work-info h4::before{
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    top: 9px;
    right: -14px;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent rgb(0,139,139);
}

.work-info p{
    color:gray;
    font-weight: 500;
}

.bottom{
    border-top : 4px double rgba(247, 197, 106, 0.35) ;
    margin-top: 40px;
}

.projectname{
    font-family: 'Overlock', serif;
    text-align: left;
    margin-top: 50px;
    font-size: 40px;
}

.projectobjective{
    font-family: 'Overlock', serif;
    text-align: left;
    margin-top: 0px;
    font-size: 25px;
}
.projectmain{
    width: 68%;
    margin-left: 16%;
}

.projecttools{
    font-family: 'Overlock', serif;
    text-align: left;
    margin-top: 0px;
    font-size: 25px;
}

.projectoutcome{
    font-family: 'Overlock', serif;
    text-align: left;
    margin-top: 0px;
    font-size: 25px;
}

.projectdoc:hover{
    transform: scale(3);
}
  