/* Common styles shared across components */
:root {
  --base: #555;
  --base-100: #f1f1f1;
  --base-400: #555;
  --base-800: #000;
  --yellow: #ffda4b;
  --yellow-100: #fffbe6;
  --yellow-400: #ffda4b;
  --yellow-800: #8b6f00;
  --blue: #0a61ae;
  --blue-100: #e2f8ff;
  --blue-400: #61dafb;
  --blue-800: #0a61ae;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  overflow-y: auto;
}

.headline {
  width: 50%;
  margin-left: 25%;
  font-size: 50px;
  font-family: "Overlock", sans-serif;
  color: #008b8b;
  border-bottom: 4px double;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Scrollbar styles */
*::-webkit-scrollbar {
  width: 2rem;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: #949499;
  border: 0.75rem solid #ffffff;
  border-radius: 6.25rem;
}
