#Myphoto {
  /* background-color: red; */
  height: 40rem;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.logo{
  height: 50px;
    width: 120px;
    margin-top: -10px;
}
.main-body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
:root {
--base: #555;
--base-100: #f1f1f1;
--base-400: #555;
--base-800: #000;
--yellow: #ffda4b;
--yellow-100: #fffbe6;
--yellow-400: #ffda4b;
--yellow-800: #8b6f00;
--blue: #0a61ae;
--blue-100: #e2f8ff;
--blue-400: #61dafb;
--blue-800: #0a61ae;
}
.Level {
  margin-left: -70%;
}

.textAboutme {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.div-block-4 {
  position: absolute;
  z-index: 1000;
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-top: 6px;
  padding-top: 0;
  background-image: url(https://i.ibb.co/V37j9kh/60baff5fcc93ec0fda8a19ba-s-logo-copy-3.png);
  background-position: 0 0;
  background-size: contain;
  -webkit-transition: 175ms;
  transition: 175ms;
}

.headline {
  width: 50%;
  margin-left: 25%;
  font-size: 50px;
  font-family: 'Overlock', sans-serif;
  color: #008b8b;
  border-bottom: 4px double;
  text-align: center;
}
#carousel-project-content-text{
  position: relative;
  overflow: hidden;
  width: 70%;
}
#myCarousel {
  height: 625px;
}

#aboutme {
  height: 680px;
}

.skillimage:hover {
  transform: scale(1.2);
  height: 100px;
  width: 100px;
}

#Myphoto:hover {
  transform: scale(1.1);
}

#contact {
  background-color: black;
  height: 705px;
  text-align: center;
}

.contactform input[type="text"] {
  margin-right: 1%;
  width: 49%;
  color: white;
  background: none;
  font-size: 1em;
  padding: 0.8em 1em;
  border: 1px solid #8c8c8c;
  display: inline-block;
}

.email {
  margin-left: 1%;
  width: 49%;
  color: white;
  background: none;
  font-size: 1em;
  padding: 0.8em 1em;
  border: 1px solid #8c8c8c;
  display: inline-block;
}

.phone {
  margin-top: 2%;
  width: 100%;
  color: white;
  background: none;
  font-size: 1em;
  padding: 0.8em 1em;
  border: 1px solid #8c8c8c;
  display: inline-block;
}

.messages {
  margin-top: 2%;
  width: 100%;
  color: white;
  background: none;
  font-size: 1em;
  padding: 0.8em 1em;
  border: 1px solid #8c8c8c;
  display: inline-block;
  height: 10em;
}

.contactform input[type="submit"] {
  margin-top: 2%;
  width: 100%;
  color: white;
  background: #008b8b;
  font-size: 1em;
  padding: 0.8em 1em;
  border: 1px solid #008b8b;
  display: inline-block;
}

.contactform input[type="submit"]:hover {
  background: none;
}

#socialnetwork a:hover {
  transform: scale(1.2);
}
.Rover{
  width: 100%;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
.RoverImg{
  width: 35rem;
  height: 30rem;
}
.droneImg{
  width: 35rem;
  height: 30rem;
}
#Experience {
  background-color: #1F1F1F;
  color: white;
  text-align: center;
}
#certifications{
  text-align: center;
}
#projects{
  text-align: center;
}
#education {
  background-color: #1F1F1F;
  text-align: center;
}

.work-left {
  text-align: right;
  padding: 3em 5em 0 0;
}

.work-info h4 {
  font-size: 1.2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: darkcyan;
  display: inline-block;
  padding: 0.6em 1.2em;
  color: #fff;
  position: relative;
}

.work-right {
  text-align: left;
  border-left: 1px solid #999;
  padding: 3em 0 2em 6em;
}

.work-info h5 {
  font-size: 1.2em;
  color: #f7e612;
  border: 1px solid #f7e612;
  display: inline-block;
  padding: 0.6em 1.2em;
}

.work-expreinece-subheading {
  font-size: 1.2em;
  color: #f7e612;
  display: inline-block;
  padding: 0.6em 1.2em;
}

.work-right span.glyphicon {
  font-size: 1.2em;
  margin-left: -42px;
  margin-right: -10px;
  left: -67px;
  color: whitesmoke;
  padding: 1em;
  background: darkcyan;
  border-radius: 50%;
}

.work-right span.glyphicon:hover {
  transform: scale(1.2);
}

.work-info h4::before {
  width: 0;
  height: 0;
  position: absolute;
  content: '';
  top: 9px;
  right: -14px;
  border-style: solid;
  border-width: 10px 0 10px 16px;
  border-color: transparent transparent transparent rgb(0, 139, 139);
}

.work-expreinece-innercontent {
  color: gray;
  font-weight: 500;
}

.work-info p {
  color: gray;
  font-weight: 500;
}

.bottom {
  border-top: 4px double rgba(14, 14, 14, 0.35);
  margin-top: 40px;
  text-align: center;
}

.projectname {
  font-family: 'Overlock', serif;
  margin-top: 50px;
  font-size: 40px;
}

.projectobjective {
  font-family: 'Overlock', serif;
  margin-top: 0px;
  font-size: 25px;
}

.projectmain {
  width: 68%;
  margin-left: 16%;
}

.projecttools {
  font-family: 'Overlock', serif;
  margin-top: 0px;
  font-size: 25px;
}

.projectoutcome {
  font-family: 'Overlock', serif;
  margin-top: 0px;
  font-size: 25px;
}

.projectdoc:hover {
  transform: scale(3);
}

.world {
  border-radius: 50%;
}

.soliton {
  height: 130px;
  width: 160px;
  border-radius: 20px;
}

.edureka {
  height: 70px;
  width: 150px;
  border-radius: 20px;
}

.vtps {
  height: 130px;
  width: 200px;
  border-radius: 10px;
}

.work-experience .jobs {
  display: flex;
  gap: 30px;
  padding-bottom: 5rem;
}

@media (max-width: 1024px) {
  .work-experience .jobs {
      flex-direction: column;
  }
}

.work-experience .jobs article {
  background-color: #393939;
  padding: 30px;
  border-radius: 30px;
  flex: 1;
}

.work-experience .jobs article h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.work-experience .jobs article div {
  font-weight: 600;
  margin-bottom: 5px;
}

.work-experience .jobs article p {
  margin-bottom: 10px;
}

.work-experience .jobs article figure {
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
}

.work-experience .jobs article figure img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
  transition: ease 3s all;
  width: 100%;
}

.work-experience .jobs article figure figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--base-100);
  text-align: center;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  transition: ease 0.3s all;
}

.work-experience .jobs article figure:hover figcaption {
  opacity: 1;
  visibility: visible;
}

.work-experience .jobs article figure:hover img {
  transform: scale(1.2);
}


.mobile-toggle {
  display: none;
}



@media (max-width: 768px) {
  .container {
      padding: 0 10px;
  }

  .row {
      flex-direction: column;
  }

  .col-md-6, .col-md-5 {
      width: 100%;
      margin-bottom: 20px;
  }

  .headline {
      width: 90%;
      margin-left: 5%;
      font-size: 35px;
  text-align: center;

  }

  .projectname, .projectobjective, .projecttools, .projectoutcome {
      font-size: 18px;
      text-align: center;
  }

  .projectmain {
      width: 90%;
      margin-left: 5%;
  }

  #aboutme, #myCarousel {
      height: auto;
  }

  #Myphoto, .skillimage, .projectdoc, .world, .soliton, .edureka, .vtps {
      width: 100%;
      height: auto;
  }

  #contact {
      height: auto;
  }

  .contactform input[type="text"], .email, .phone, .message, .contactform input[type="submit"] {
      width: 100%;
  }
  .work-left{
    text-align: right;
    padding: 3em 5em 0 0;
  }
  .work-right {
    text-align: left;
    border-left: 1px solid #999;
    padding: 3em 0 2em 6em;
      
  }

  .work-right span.glyphicon {
    font-size: 1.2em;
    margin-left: -42px;
    margin-right: -10px;
    left: -67px;
    color: whitesmoke;
    padding: 1em;
    background: darkcyan;
    border-radius: 50%;
  }
}



/* General Adjustments */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Ensure sections have a minimum height */
#intro, #aboutme, #experience {
  min-height: 100vh; /* Ensures full viewport height */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#intro h1, #aboutme h1, #experience h1,#home {
  font-size: 2em;
  margin-bottom: 20px;
}

/* Fix for the overlapping text issue */
#intro p, #aboutme p, #experience p ,#home p{
  font-size: 1.2em;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto;
}
#home{
  min-height: 70vh; /* Ensures full viewport height */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: blue; */
}


/* Mobile Toggle Button Adjustments */
.mobile-toggle {
  display: none;
}



/* Responsive Adjustments */
@media (max-width: 768px) {
  .container {
      padding: 0 10px;
  }

  .row {
      flex-direction: column;
  }

  .col-md-6, .col-md-5 {
      width: 100%;
      margin-bottom: 20px;
  }

  .headline {
      width: 90%;
      margin-left: 5%;
      font-size: 35px;
  text-align: center;

  }

  .projectname, .projectobjective, .projecttools, .projectoutcome {
      font-size: 18px;
      text-align: center;
  }

  .projectmain {
      width: 90%;
      margin-left: 5%;
  }

  #aboutme, #myCarousel {
      height: auto;
  }

  #Myphoto, .skillimage, .projectdoc, .world, .soliton, .edureka, .vtps {
      width: 100%;
      height: auto;
  }

  #contact {
      height: auto;
  }

  .contactform input[type="text"], .email, .phone, .message, .contactform input[type="submit"] {
      width: 100%;
  }

  .work-left{
    text-align: right;
    padding: 3em 5em 0 0;
  }
   .work-right {
    text-align: left;
    border-left: 1px solid #999;
    padding: 3em 0 2em 6em;
  }

  .work-right span.glyphicon {
    font-size: 1.2em;
    margin-left: -42px;
    margin-right: -10px;
    left: -67px;
    color: whitesmoke;
    padding: 1em;
    background: darkcyan;
    border-radius: 50%;
  }
}


/* General Adjustments */

.navbar {
  background-color: rgb(0, 153, 153);
  padding: 10px 20px;
}

.navbar-brand {
  font-family: Georgia;
  color: black;
}

.navbar-brand .div-block-4 {
  margin-top: -8px;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar-nav li {
  margin-right: 20px;
}

.navbar-nav a {
  color: black;
  font-family: Georgia;
}

.mobile-toggle {
  display: none;
}

@media (max-width: 768px) {
  .navbar-nav {
      display: none;
      flex-direction: column;
      width: 100%; /* Ensure it takes full width */
      padding: 0;
      margin: 0;
  }

  .navbar-nav.active {
      display: flex;
  }

  .navbar-nav li {
      width: 100%; /* Ensure each menu item takes full width */
      text-align: center;
      margin-right: 0; /* Remove right margin */
  }

  .mobile-toggle {
      display: block;
      background: black;
      padding: 10px;
      border-radius: 5px;
      position: fixed; /* Fix the position */
      top: 15px;
      right: 15px;
      z-index: 1000;
  }

  .navbar-fixed-bottom {
      position: relative;
  }
}











/* Shared styles for skills section */
#skills {
  text-align: center;
}

.headline {
  margin-bottom: 20px;
  text-align: center;

}


.skillimage {
  width: 100px;
  height: auto;
  margin: 10px;
}

.left-column,
.right-column {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.skills h3 {
  margin-top: 20px;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {


  .skillimage {
      width: 50%;
      margin: 10px;
  }

  .left-column,
  .right-column {
      width: 100%;
      margin: 0;
  }

  .skills ul {
      padding-left: 20px;
  }

  .holder-blue {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .right-column {
      order: -1;
  }
}

/* Styles specific to #skills-innercontent */
#skills-innercontent {
  background-color: #eee;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

#skills-innercontent .left-column h3,
#skills-innercontent .right-column h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

#skills-innercontent .left-column ul,
#skills-innercontent .right-column ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#skills-innercontent .left-column ul li,
#skills-innercontent .right-column ul li {
  display: inline-block;
  color: black;
  border: 1px solid #4FC3F7;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Media query for larger screens */
@media (max-width: 1024px) {
  #skills-innercontent {
      flex-direction: column;
  }
}


.marquee {
  width: 100%;
  overflow: hidden;
}

.track {
  white-space: nowrap;
  animation: marquee 40s linear infinite;
  display: flex;
  gap: 10px;
}

.skillimage {
  height: 100px;
  width: 100px;
  /* Add other styles as needed */
}

@keyframes marquee {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .skillimage {
      height: 60px;
      width: 60px;
      /* Adjust other styles for smaller screens */
  }
}
#chat-bot-content {
  background-color:red
}
.chatbot {
  /* styles for .chatbot */
}

.chatbot .chatbot-blue {
  background-color: #eee;
  border-radius: 30px;
  padding: 30px;
  gap: 30px;
  display: flex;
}

@media (max-width: 1024px) {
  .chatbot .chatbot-blue {
      flex-direction: column;
  }
}

.chatbot .chatbot-blue p {
  margin-bottom: 30px;
}

.chatbot .chatbot-blue .chat-info {
  flex: 3;
  padding-right: 30px;
}

.chatbot .chatbot-blue .chat-box {
  flex: 4;
  background: white;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.chatbot .chatbot-blue .chat-box .scroll-area {
  max-height: 300px;
  height: 300px;
  overflow-y: scroll;
}

.chatbot .chatbot-blue .chat-box .scroll-area ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 15px;
}

.chatbot .chatbot-blue .chat-box .scroll-area ul li {
  display: flex;
  align-items: center;
  gap: 15px;
}

.chatbot .chatbot-blue .chat-box .scroll-area ul li:nth-child(even) {
  text-align: right;
  justify-content: flex-end;
  flex-direction: row-reverse;
}
.black{
  background-color: black
}
.chatbot .chatbot-blue .chat-box .scroll-area ul li:nth-child(even) span {
  background-color: var(--yellow);
}

.chatbot .chatbot-blue .chat-box .scroll-area ul li span {
  background-color: var(--blue-400);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .chatbot .chatbot-blue .chat-box .scroll-area ul li span {
      width: 48px;
      height: 48px;
  }
}

.chatbot .chatbot-blue .chat-box .scroll-area ul li div {
  flex: 1;
}

.chatbot .chatbot-blue .chat-box .chat-message {
  display: flex;
  margin-top: 15px;
  gap: 15px;
}

.chatbot .chatbot-blue .chat-box .chat-message input {
  border-radius: 10px;
  flex: 1;
  padding: 15px;
  border: 1px solid transparent;
  background-color: var(--base-100);
}

.chatbot .chatbot-blue .chat-box .chat-message input:hover,
.chatbot .chatbot-blue .chat-box .chat-message input:focus {
  outline: none;
  background-color: white;
  border: 1px solid var(--base-100);
}

.chatbot .chatbot-blue .chat-box .chat-message button {
  border: none;
  cursor: pointer;
}

.button {
display:inline-block;
padding:10px 30px;
background-color: var(--blue);
color: var(--base-100);
border-radius:10px;
transition: ease 0.3s all;
&:hover {
  text-decoration:none;
  background-color: var(--base-800);
}
&.white {
  background-color: white;
  color: var(--base-800);
  &:hover {
    background-color: var(--base-100);
    color: var(--base);
  }
}
&.black {
  background-color: black;
  color: white;
  &:hover {
    background-color: var(--base);
    color: var(--base-100);
  }
}
}


#work-left{
  text-align: right;
  padding: 3em 5em 0 0;
}
#work-right {
  text-align: left;
  border-left: 1px solid #999;
  padding: 3em 0 2em 6em;
}
.work-right span.glyphicon {
  font-size: 1.2em;
  margin-left: -42px;
  margin-right: -10px;
  left: -67px;
  color: whitesmoke;
  padding: 1em;
  background: darkcyan;
  border-radius: 50%;
}

.work-right span.glyphicon:hover{
  transform: scale(1.2);
}

